.sponsor-card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 1fr 3fr 50px;
    border: var(--pink) 2px solid;
    font-size: 1em;
    padding: 10px;
    width: 90vw;
    max-width: 1200px;
    gap: 10px;
    margin: auto;
}

.sponsor-card>h3 {
    grid-column: 1;
    grid-row: 1;
    color: var(--pink);
}

.sponsor-card>img {
    grid-column: 1;
    grid-row: 2;
    max-width: 10em;
    max-height: 5em;
    margin-left: 0;
}

.sponsor-card>p {
    grid-column: 1;
    grid-row: 3;
}

.sponsor-team-members {
    grid-column: 2;
    grid-row: 2/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    gap: 10px;
}

.sponsor-card button {
    grid-column: 1;
    grid-row: 4;
    background-color: var(--pink);
    color: var(--white);
    border-radius: 50px;
    border: none;
    height: 2em;
    width: 10em;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 0;
    box-shadow: 5px 7px 15px #00000048;
    transition: all .2s ease-in-out;
}

.sponsor-card button:hover {
    transform: scale(0.9);
}

.sponsor-card button>a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .sponsor-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sponsor-team-members {
        justify-content: center;
    }
}